
#empt {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 45px;
    margin: 50px 0px;
    padding: 80px; 
}
.card-body{
    padding: 10px;
    border: none;
}
.price-holder{
    display: flex;
    gap: 4px;
}
.card > img{
    height: 250px;
    width: 250px;
}
.card{
    padding: 10px;
    align-items: center;
    border: none !important;
}
.checkout{
    margin: 20px;
}