<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/components/footer.css">
</head>

<body>
    <div class="container-fluid footer">

        <div class="input-holder">
            <label for="email">Get subscribed to our newsletter </label>
            <input type="email" placeholder="enter your email ">
            <button class="btn btn-primary">submit</button>
        </div>

        <div class="fcontent">
            <ul class="flinks">
                <h4>important links</h4>
                <li><a href="">Home</a></li>
                <li><a href="">Fashion store</a></li>
                <li><a href="">Gallery</a></li>
            </ul>
    
            <div class="smedia">
                <h4>Contact us on social media</h4>
                <ul>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</body>

</html>